{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>Obszary</h2>

            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h4 class="text-center" id="update_text">{{ updated_percentage }}</h4>
                    <script>
                        $(function () {
                            var updated_percentage = "{{ updated_percentage }}";
                            var outdated_percentage = "{{ outdated_percentage }}";
                            var element = document.getElementById("update_text");

                            if (outdated_percentage === "100") {
                                element.innerHTML = "Żaden obszar nie został jeszcze aktualizowany.";
                            } else if (updated_percentage === "100") {
                                element.innerHTML = "Wszystkie obszary są zaktualizowane.";
                            } else {
                                element.innerHTML = "Postęp aktualizacji obszarów:  " + {{ updated_percentage }} +"%.";
                            }
                        });
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{ updated_percentage }}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ updated_percentage }}%;">
                        </div>
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{ outdated_percentage }}"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ outdated_percentage }}%;">
                        </div>
                    </div>
                </div>
            </div>
            <div id="greenFieldAlert"></div>
            <div id="map1"></div>
        </div>
    </div>
    {% csrf_token %}
    <script type="text/javascript">
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(52.22977, 21.2178),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                disableDefaultUI: true,
            };
            var map1 = new google.maps.Map(document.getElementById("map1"), mapOptions);


            <!-- -->
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            var allRegions = [
                {% for region in all_regions %}
                    {% if not forloop.first %},{% endif %}
                    {
                        id: "{{ region.id }}",
                        is_updated: "{{ region.is_updated }}",
                        north_west_lat: "{{ region.north_west__latitude }}",
                        north_west_lon: "{{ region.north_west__longitude }}",
                        south_east_lat: "{{ region.south_east__latitude }}",
                        south_east_lon: "{{ region.south_east__longitude}}"
                    }
                {% endfor %}
            ];

            for (i = 0; i < allRegions.length; i++) {
                var currentId = allRegions[i].id;
                var color;
                if (allRegions[i].is_updated == 'False') {
                    color = '#FF0000';
                } else if (allRegions[i].is_updated == 'True') {
                    color = '#00FF00';
                }
                var rectangle = new google.maps.Rectangle({
                    strokeWeight: 2,
                    fillColor: color,
                    fillOpacity: 0.35,
                    map: map1,
                    bounds: {
                        north: parseFloat(allRegions[i].north_west_lat),
                        south: parseFloat(allRegions[i].south_east_lat),
                        east: parseFloat(allRegions[i].south_east_lon),
                        west: parseFloat(allRegions[i].north_west_lon)
                    },
                    //region id is saved in zIndex
                    zIndex: parseInt(allRegions[i].id)
                });

                //for unmarking last selected region
                document.oldColor = null;
                document.lastSelectedRect = null;

                rectangle.addListener('rightclick', function (event) {
                    if (document.lastSelectedRect != null) {
                        document.lastSelectedRect.setOptions({fillColor: document.oldColor});
                    }

                    document.lastSelectedRect = this;
                    document.oldColor = this.fillColor;

                    var thisRectangle = this;
                    var previouscolor = thisRectangle.fillColor;
                    thisRectangle.setOptions({fillColor: '#000000'});
                    var projection = map1.getProjection();
                    $('.contextmenu').remove();
                    var contextmenuDir = document.createElement("div");
                    contextmenuDir.className = 'contextmenu';
                    contextmenuDir.innerHTML = '<a id="menu1" class="markToActualize"><div class="context">Zaznacz obszar do aktualizacji<\/div><\/a>'
                        + '<a href="./regions/edit/' + thisRectangle.zIndex + '" id="menu2"><div class="context">Przydziel zasoby do obszaru<\/div><\/a>'
                        + '<a id="menu3" class="markAsUpdated"><div class="context">Oznacz obszar jako aktualny<\/div><\/a>';


                    $(map1.getDiv()).append(contextmenuDir);
                    setMenuXY(event.latLng, map1);
                    contextmenuDir.style.visibility = "visible";

                    //close popup when clicking on the map
                    map1.addListener('idle', function (event) {
                        contextmenuDir.style.visibility = "hidden";
                        thisRectangle.setOptions({fillColor: previouscolor});
                    });

                    map1.addListener('click', function (event) {
                        contextmenuDir.style.visibility = "hidden";
                        thisRectangle.setOptions({fillColor: previouscolor});
                    });

                    map1.addListener('rightck', function (event) {
                        contextmenuDir.style.visibility = "hidden";
                        thisRectangle.setOptions({fillColor: previouscolor});
                    });

                    //make region red
                    $('.markToActualize').click(function () {
                        var region_id = thisRectangle.zIndex;

                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }

                        $.ajaxSetup({
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                        });
                        $.ajax({
                            url: '/',
                            data: {"region": region_id, "message": "markToActualize"},
                            type: 'post'
                        });
                        contextmenuDir.style.visibility = "hidden";
                        previouscolor = '#FF0000';
                        thisRectangle.setOptions({fillColor: previouscolor});
                        document.oldColor = previouscolor;
                    });

                    //make region green
                    $('.markAsUpdated').click(function () {
                        if (previouscolor == '#00FF00') {
                            var cannotActualizeAlert = document.getElementById("greenFieldAlert");
                            cannotActualizeAlert.innerHTML = '<div id="dAlert" class="alert alert-danger">Wybrany obszar jest już zaktualizowany</div>';
                            $("#dAlert").fadeTo(2500, 900).slideUp(900, function () {
                                $("#dAlert").slideUp(900);
                            });
                        } else {
                            var region_id = thisRectangle.zIndex;

                            function csrfSafeMethod(method) {
                                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                            }

                            $.ajaxSetup({
                                beforeSend: function (xhr, settings) {
                                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                    }
                                }
                            });
                            $.ajax({
                                url: '/',
                                data: {"region": region_id, "message": "markAsUpdated"},
                                type: 'post'
                            });
                            previouscolor = '#00FF00';
                            document.oldColor = previouscolor;
                        }
                        thisRectangle.setOptions({fillColor: previouscolor});
                        contextmenuDir.style.visibility = "hidden";
                    });

                });

            }


            function getCanvasXY(caurrentLatLng, map) {
                var scale = Math.pow(2, map1.getZoom());
                var nw = new google.maps.LatLng(
                    map.getBounds().getNorthEast().lat(),
                    map.getBounds().getSouthWest().lng()
                );
                var worldCoordinateNW = map.getProjection().fromLatLngToPoint(nw);
                var worldCoordinate = map.getProjection().fromLatLngToPoint(caurrentLatLng);
                var caurrentLatLngOffset = new google.maps.Point(
                    Math.floor((worldCoordinate.x - worldCoordinateNW.x) * scale),
                    Math.floor((worldCoordinate.y - worldCoordinateNW.y) * scale)
                );
                return caurrentLatLngOffset;
            }


            function setMenuXY(caurrentLatLng, map) {
                var mapWidth = $('#map_canvas').width();
                var mapHeight = $('#map_canvas').height();
                var menuWidth = $('.contextmenu').width();
                var menuHeight = $('.contextmenu').height();
                var clickedPosition = getCanvasXY(caurrentLatLng, map);
                var x = clickedPosition.x;
                var y = clickedPosition.y;
                if ((mapWidth - x) < menuWidth)//if to close to the map border, decrease x position
                    x = x - menuWidth;
                if ((mapHeight - y) < menuHeight)//if to close to the map border, decrease y position
                    y = y - menuHeight;
                $('.contextmenu').css('left', x);
                $('.contextmenu').css('top', y);
            };

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWvcN-Awg6yJiQXUvcYYTa-DnNesUny4&amp;callback=myMap"
            async="" defer=""></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>

    <style type="text/css">
        #map_canvas {
            width: 400px;
            height: 300px;
        }

        .contextmenu {
            visibility: hidden;
            background: #ffffff;
            font-size: 12px;
            border: 1px solid #000000;
            z-index: 10;
            position: relative;
            width: 140px;
        }

        .contextmenu div {
            padding-left: 5px
        }
    </style>

{% endblock %}
