body {
    min-height: 100%;
}
#map1 {
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttons-panel {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}
.save-button {
    float: right;
}
.container-resources {
    margin: 20px 20px 20px 20px;
}

/* violet bar below navbar */
.navbar-default {
    border-color: #5000B2;
}

.navbar-static-top {
    border-width: 2px 0 2px;
}
