{% extends 'base.html' %}

{% block content %}

<div class="container" style="margin-top: 5vh">
    <div class="col-md-10 col-md-offset-1">

        {% if success_message %}
            <div class="alert alert-success">
                {{ success_message }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-8">
                <h2 style="text-align: center">Lista Driver:</h2>
            </div>
            <div class="col-md-2">
                <a href="{% url 'drivers:create' %}" class="btn btn-default" role="button">Dodaj driver</a>
            </div>
        </div>
        {% if object_list %}
            <ul>
            {% for d in  object_list %}
                <li>{{ d }} <a href="{% url 'drivers:driver_edit_basic' pk=d.pk %} "> Edytuj </a></li>
            {% endfor %}
            </ul>
        {% else %}
            <h3 style="text-align: center">Brak driverow.</h3>
        {% endif %}

    </div>
</div>

{% endblock %}

