{% extends 'base.html' %}

{% block content %}

    <div class="container" style="margin-top: 5vh">
        <div class="col-md-10 col-md-offset-1">
            {% if messages %}
                <div class="alert alert-success">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-10">
                    <h2 style="text-align:left">Lista kierowców:</h2>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'drivers:create' %}" class="btn btn-outline-geo pull-right" role="button" style="float: right">Dodaj kierowcę</a>
                </div>
            </div>
            {% if object_list %}
                {% for d in object_list %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ d.full_name }}
                            <a class="btn btn-warning" style="float: right; padding: 2px;"
                               href="{% url 'drivers:edit_basic' pk=d.pk %} ">Edytuj kierowcę</a>
                        </div>
                        <div class="panel-body">
                            <p><b>Płeć:</b> {{ d.gender }}</p>
                            <p><b>Pesel:</b> {{ d.pesel }}</p>
                            <p><b>Numer telefonu:</b> {{ d.phone_number }}</p>
                            <p><b>Uprawnienia:</b> {{ d.permissions_level }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="text-align: left">Brak kierowców</h3>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>

    {% if is_paginated %}
       <div class="pagination">
            <span class="step-links">
                {% if paginator.has_previous %}
                    <a href="?page={{ paginator.previous_page_number }}">Wcześniejsza</a>
                {% endif %}

                <span class="current">
                    Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
                </span>

                {% if paginator.has_next %}
                    <a href="?page={{ paginator.next_page_number }}">Następna</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}