<!DOCTYPE html>
<html lang="en">
<head>
    <title>GEO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" style="margin-top: 5vh">
        <div class="col-md-6 col-md-offset-2">
            <h2 style="text-align: center">Dodaj Samochód</h2>
            <h2></h2>
            <form class="form-horizontal" action="/cars/new" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="marka">Marka:</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="marka" name="marka">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="model">Model:</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="model" name="model">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="rocznik">Rocznik:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="rocznik" name="rocznik">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="pojemnosc">Pojemność silnika:</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="pojemnosc" name="pojemnosc">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="nadwozie">Typ nadwozia:</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="nadwozie" name="nadwozie">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="ubezpieczenie">Numer ubezpieczenia:</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ubezpieczenie" name="ubezpieczenie">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-default">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
