{% extends 'base.html' %}

{% block content %}

            <div class="row">
                <div class="col-md-10">
                    <h2 style="text-align:left">Historia aktualizacji obszarów:</h2>
                </div>
            </div>
            {% if all_regions %}
                {% for r in all_regions %}
                    <div class="panel panel-primary">
                        {# tutaj nazwa/numer obszaru #}
                        <div class="panel-body">
                            <p><b>Region</b> {{ r.id }}.</p>
                            {# Tutaj dać date aktualizacji i inne dane #}
                            <p><b>Zaktualizowano</b> {{ r.last_updated }} <b>przez</b> {{ r.updated_by }}.</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="text-align: left">Brak historii aktualizacji obszarów</h3>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if paginator.has_previous %}
                    <a href="?page={{ paginator.previous_page_number }}">Wcześniejsza</a>
                {% endif %}

                <span class="current">
                    Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
                </span>

                {% if paginator.has_next %}
                    <a href="?page={{ paginator.next_page_number }}">Następna</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}
